@mixin transition-duration($duration...) {
    -moz-transition-duration:    $duration;
    -o-transition-duration:      $duration;
    -webkit-transition-duration: $duration;
    transition-duration:         $duration;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slides-navigation {
    a {
        cursor: pointer;
        text-indent: -9999px;
        background: url(../assets/arrow-dark.png);
        background-size: 40px 40px;
        
        height: 40px;
        width: 40px;
        margin: 0 20px;
        
        @include transition-duration(300ms);
        
        &:hover {
            background: url(../assets/arrow-dark-hover.png);
            background-size: 40px 40px;
        }
        
        &.prev {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }
}

#splash-video {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.splash-content {
    @include transition-duration(300ms);
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    .splash-title { 
        width: 260px;
        height: 180px;
        
        position: absolute;
        margin: auto;
        left: 0; right: 0; top: 0; bottom: 0;
        
        color: white;
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        
        letter-spacing: 2px;
        
        @include transition-duration(300ms);
        
        h2 {
            font-size: 24px;
            font-weight: 200;
        }
        
        h3 {
            margin-top: 10px;
            letter-spacing: 5px;
        }
        
        &::before, &::after {
            display: block;
            content: "";
            background-color: white;
            height: 1px;
            width: 60px;
            margin: 28px auto;
        }
    }
    
    .splash-about {
        opacity: 0;
        @include transition-duration(300ms);
        
        position: absolute;
        margin: auto;
        left: 0; right: 0; top: 0; bottom: 0;

        width: 300px;
        height: 300px;

        color: white;
        font-size: 14px;
        text-align: center;
        letter-spacing: 1px;
    }
    
    &.about-active {
        background-color: rgba(0, 0, 0, .5);
        
        .splash-title {
            opacity: 0;
        }
        
        .splash-about {
            opacity: 1;
        }
    }
}

.project-nav {
    height: 50px;    
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    
    line-height: 50px;
    z-index: 20;
    color: white;
    text: {
        transform: uppercase;
    }

    font: {
        weight: 100;
        size: 13px;
    }
    
    letter-spacing: 2px;
    
    a {
        text-decoration: none;
        color: inherit;
        
        margin-left: 60px;
    }
    
    p {
        position: absolute;
        width: 240px;
        text-align: center;
        display: inline-block;
        margin: auto;
        left: 0; right: 0;
        bottom: 0;
        
        &::before, &::after {
            content: "";
            display: block;
            position: fixed;
            width: 1px;
            height: 20px;
            
            background-color: white;
            margin-top: 14px;
        }
        
        &::after {
            margin-top: -36px;
            margin-left: 238px;
        }
    }
}

.slides-pagination {
    position: fixed;
    z-index: 21;
    
    bottom: 16px;
    right: 20px;
    width: 200px;
    
    a {
        background-color: white;
        border: none;
        width: 12px;
        height: 12px;
        margin-left: 20px;
        
        &.current {
            border: none;
            border-radius: 0px;
            background: url(../assets/page-selected.png) center center;
            background-size: 40px 40px;
            
            width: 12px;
            height: 12px;
        }
    }
}

.primitive-container {
    height: calc(100vh - 50px);
    width: 100%;
    background-color: white;
    
    .left, .right {
        height: 100%;
    }
    
    .left {
        float: left;
        width: calc(100% - 600px);
        left: 0;
        
        .top {
            height: 30%;
            
            .top-photo-1 {
                float: left;
                height: 100%;
                width: 45%;
                background: url(../assets/projects/primitive/6.jpg) no-repeat center center;
                background-size: cover;
            }
            
            .top-right {
                width: 30%;
                height: 100%;
                float: right;
                .top-photo-2 {
                    height: 50%;
                    width: 100%;
                    background: url(../assets/projects/primitive/8.jpg) no-repeat center center;
                    background-size: cover;
                }

                .top-photo-3 {
                    height: 50%;
                    width: 100%;
                    background: url(../assets/projects/primitive/5.jpg) no-repeat center center;
                    background-size: cover;
                }
            }
        }
        .bottom {
            background: url(../assets/projects/primitive/mobile-3-07.png) no-repeat center center;
            background-size: cover;
            height: 70%;
        }
    }
    
    .right {
        float: left;
        width: 600px;
        
        div {
            border: 8px solid black;
            margin-left: 14px;
            margin-top: 14px;
            width: calc(100% - 95px);
            
            padding: 14px 26px;
            
            h3 {
                font: {
                    weight: 600;
                    size: 20px;
                }
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 8px;
            }
            
            h4 {
                font: {
                    weight: 600;
                    size: 14px;
                }
                margin-bottom: 8px;
                letter-spacing: 1px;
            }
        
            p {
                
                font-size: 14px;

                -webkit-column-count: 2; /* Chrome, Safari, Opera */
                -moz-column-count: 2; /* Firefox */
                column-count: 2;
                -webkit-column-gap: 42px; /* Chrome, Safari, Opera */
                -moz-column-gap: 42px; /* Firefox */
                column-gap: 42px;
            }
        }
    }
}

.project-splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    
    cursor: pointer;
    
    h2 {
        text: {
            transform: uppercase;
        }
        font: {
            weight: 200;
            size: 20px;
        }
        
        position: absolute;
        top: 20px;
        right: 16px;
    }
}