* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'AvenirLTStdRegular';
}

#splash-video {
    height: 100%;
}

.page-splash {
    h2 {
        text-transform: uppercase;
        position: absolute;
        top: 50%;
    }
}