/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* line 10, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 19, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
* {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit; }

/* line 26, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  overflow: hidden;
  height: 100vh;
  width: 100vw; }

/* line 35, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
.slides-navigation a {
  cursor: pointer;
  text-indent: -9999px;
  background: url(../assets/navigation/arrow-dark.png);
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  margin: 0 30px;
  text-indent: -9999px;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms; }
  /* line 48, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .slides-navigation a:hover {
    background: url(../assets/navigation/arrow-light.png);
    background-size: 40px 40px; }
  /* line 53, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .slides-navigation a.prev {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }

/* line 64, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
.slides-pagination {
  position: fixed;
  z-index: 21;
  top: 14px;
  right: 38px;
  width: 430px;
  height: 36px; }
  /* line 74, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .slides-pagination a {
    background-color: white;
    border: none;
    width: 12px;
    height: 12px;
    margin-left: 20px; }
    /* line 81, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .slides-pagination a.current {
      border: none;
      border-radius: 0px;
      background: url(../assets/navigation/page-selected.png) center center;
      background-size: 40px 40px;
      width: 12px;
      height: 12px; }

/* line 93, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
#splash-video {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

/* line 100, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
.splash-content {
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  /* line 109, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .splash-content .splash-title {
    width: 260px;
    height: 180px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms; }
    /* line 127, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .splash-content .splash-title h2 {
      font-size: 24px;
      font-weight: 200; }
    /* line 132, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .splash-content .splash-title h3 {
      margin-top: 10px;
      letter-spacing: 5px; }
    /* line 137, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .splash-content .splash-title::before, .splash-content .splash-title::after {
      display: block;
      content: "";
      background-color: white;
      height: 1px;
      width: 60px;
      margin: 28px auto; }
  /* line 147, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .splash-content .splash-about {
    opacity: 0;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    color: white;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px; }
  /* line 164, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .splash-content.about-active {
    background-color: rgba(0, 0, 0, 0.5); }
    /* line 167, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .splash-content.about-active .splash-title {
      opacity: 0; }
    /* line 171, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .splash-content.about-active .splash-about {
      opacity: 1; }

/* line 177, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
.project-nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  line-height: 50px;
  z-index: 20;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 2px; }
  /* line 198, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .project-nav a {
    text-decoration: none;
    color: inherit;
    margin-left: 60px; }
  /* line 205, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .project-nav p {
    display: none;
    position: absolute;
    width: 240px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0; }
    /* line 217, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-nav p::before, .project-nav p::after {
      content: "";
      display: block;
      position: fixed;
      width: 1px;
      height: 20px;
      background-color: white;
      margin-top: 14px; }
    /* line 228, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-nav p::after {
      margin-top: -36px;
      margin-left: 238px; }

/* line 235, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
.project-container {
  height: calc(100vh - 50px);
  width: 100%;
  margin-top: 50px;
  background-color: white;
  overflow: scroll; }
  /* line 242, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .project-container .project-splash {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: white;
    cursor: pointer;
    z-index: 40; }
    /* line 253, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash.project-splash-primitive {
      background: url(../assets/projects/1primitive/primitive-splash.png) no-repeat center center;
      background-size: cover;
      background-color: white; }
    /* line 259, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash.project-splash-nectar {
      background: url(../assets/projects/2nectar/5.png) no-repeat center center;
      background-size: cover;
      background-color: white; }
    /* line 265, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash.project-splash-yurbuds {
      background: url(../assets/projects/3yurbuds/yurbuds-splash.png) no-repeat center center;
      background-size: cover;
      background-color: white; }
    /* line 271, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash.project-splash-ninthletter {
      background: url(../assets/projects/4ninthletter/NinthStack.jpg) no-repeat center center;
      background-size: cover;
      background-color: white; }
      /* line 276, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
      .project-container .project-splash.project-splash-ninthletter h2 {
        color: white; }
    /* line 281, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash.project-splash-lineart {
      background: url(../assets/projects/5lineart/lineart-14.png) no-repeat center center;
      background-size: cover;
      background-color: white; }
    /* line 287, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash.project-splash-planb {
      background: url(../assets/projects/7planb/Hong_YooJin_PlanB_138.png) no-repeat center center;
      background-size: cover;
      background-color: white; }
    /* line 293, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash.project-splash-redrobin {
      background: url(../assets/projects/8redrobin/1-14.png) no-repeat center center;
      background-size: cover;
      background-color: white; }
    /* line 299, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash.project-splash-scudo {
      background: url(../assets/projects/10scudogives/Gives.jpg) no-repeat center center;
      background-size: cover;
      background-color: white; }
      /* line 304, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
      .project-container .project-splash.project-splash-scudo h2 {
        color: white; }
    /* line 309, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash.project-splash-vinyl {
      background: url(../assets/projects/11interactivevinyl/interactive-poster-10.png) no-repeat center center;
      background-size: cover;
      background-color: white; }
    /* line 315, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash h2 {
      text-transform: uppercase;
      font-weight: 200;
      font-size: 16px;
      color: black;
      letter-spacing: 3px;
      position: absolute;
      top: 24px;
      right: 20px; }
      /* line 331, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
      .project-container .project-splash h2::after {
        position: absolute;
        content: "Click for more info";
        background-color: black;
        width: 140px;
        height: 32px;
        top: 34px;
        right: 2px;
        border: none;
        outline: none;
        border-radius: 5px;
        color: white;
        line-height: 32px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: lowercase;
        font-size: 12px;
        font-weight: 100 !important; }
    /* line 356, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-splash button {
      display: none;
      position: absolute;
      background-color: black;
      width: 140px;
      height: 32px;
      top: 54px;
      right: 24px;
      border: none;
      outline: none;
      border-radius: 5px;
      color: white;
      line-height: 32px;
      letter-spacing: 1px;
      text-transform: lowercase;
      font-size: 12px;
      font-weight: 100 !important;
      cursor: pointer; }
  /* line 382, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .project-container video {
    width: 100%;
    object-fit: cover; }
  /* line 388, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .project-container .play-button {
    position: relative;
    top: 58px;
    left: calc(100% - 40px);
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: black;
    -moz-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    cursor: pointer;
    z-index: 1; }
  /* line 406, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .project-container .project-content {
    *zoom: 1;
    width: auto;
    max-width: 800px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0; }
    /* line 344, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/jeet/_grid */
    .project-container .project-content:before, .project-container .project-content:after {
      content: '';
      display: table; }
    /* line 349, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/jeet/_grid */
    .project-container .project-content:after {
      clear: both; }
    /* line 409, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-content section {
      margin: 40px auto; }
    /* line 413, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-content .project-header {
      text-align: center; }
      /* line 416, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
      .project-container .project-content .project-header h2 {
        text-transform: uppercase;
        font-size: 34px;
        letter-spacing: 8px; }
      /* line 422, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
      .project-container .project-content .project-header h3 {
        margin: 14px auto;
        font-family: 'Old Standard TT';
        font-style: italic;
        font-size: 14px; }
      /* line 427, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
      .project-container .project-content .project-header button {
        display: inline-block;
        background-color: black;
        color: white;
        width: 100px;
        height: 28px;
        border: none;
        outline: none;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 100;
        letter-spacing: 2px;
        cursor: pointer; }
    /* line 448, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-content .project-gallery img {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 25%;
      margin-left: 0%;
      margin-right: 0%;
      margin-bottom: 10px; }
      /* line 344, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/jeet/_grid */
      .project-container .project-content .project-gallery img:before, .project-container .project-content .project-gallery img:after {
        content: '';
        display: table; }
      /* line 349, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/jeet/_grid */
      .project-container .project-content .project-gallery img:after {
        clear: both; }
    /* line 455, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-content .project-info p {
      font-family: 'Old Standard TT';
      font-size: 14px;
      margin: 14px auto; }
    /* line 460, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
    .project-container .project-content .project-info video {
      margin: 14px auto; }

/* line 467, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
.project-image {
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms; }
  /* line 470, /Users/noah/Dropbox/programming/projects/yoojinhongdesign/css/main.scss */
  .project-image.active {
    position: absolute;
    height: 100vh !important;
    width: 100vw !important;
    top: 0 !important;
    left: 0 !important; }

/*# sourceMappingURL=main.css.map */