* {
	margin: 0;
	padding: 0;
}

.container-border {
	position: fixed;
	background: black;
	height: 100%;
	width: 100%;
}

.container {	
	background: white;
	position: fixed;
	height: calc(100% - 640px);
	width: calc(100% - 1000px);
	top: 320px;
	left: 500px;
	

	-webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;

    -webkit-transition-timing-function: cubic-bezier(0.115, 1.055, 0.610, 0.895); 
    -moz-transition-timing-function: cubic-bezier(0.115, 1.055, 0.610, 0.895); 
    -o-transition-timing-function: cubic-bezier(0.115, 1.055, 0.610, 0.895); 
    transition-timing-function: cubic-bezier(0.115, 1.055, 0.610, 0.895);
}

.container.active {
	height: calc(100% - 60px);
	width: calc(100% - 60px);
	top: 30px;
	left: 30px;
}

.content {
	text-align: center;
	position: absolute;
	left: 0; right: 0;
	height: 4000px;


	-webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;

    -webkit-transition-timing-function: cubic-bezier(0.115, 1.055, 0.610, 0.895); 
    -moz-transition-timing-function: cubic-bezier(0.115, 1.055, 0.610, 0.895); 
    -o-transition-timing-function: cubic-bezier(0.115, 1.055, 0.610, 0.895); 
    transition-timing-function: cubic-bezier(0.115, 1.055, 0.610, 0.895);
}

.content.active {
	opacity: 1;
}

.content > div {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
}

.title {
	background: url(../assets/title.png) no-repeat center center fixed, 
				url(../assets/downarrow.png) no-repeat center 68% fixed;
	height: 2000px;
}

.profile {
	background: url(../assets/title.png) no-repeat center center fixed;
	background-color: #fff;
	-moz-filter: invert(100%);
	-webkit-filter: invert(100%);
    filter: invert(100%);
    width: 400px;
    height: 200px;
    
    top: 2000px;
    z-index: 2;
}

.parallax {
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax_layer-back {
    transform: translateZ(-1px) scale(2);
}
